h3 {
  margin-top: 0;
  background-color: gold;
}

h3>small {
  font-size: 0.8rem;
  color: aquamarine;
}

h3>a {
  text-decoration: none;
}

div.product-item {
  background-color: goldenrod;
  margin: 0.2rem;
  padding: 0.2rem;
  line-height: 1rem;
  display: inline-block;
}
