<h1>WEBSTORE MAIN PAGE</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec pulvinar urna. Nulla viverra accumsan neque quis commodo. Aenean et orci malesuada, dictum nisi vitae, fermentum libero. Cras elementum, lacus placerat blandit vestibulum, massa tellus tristique arcu, et condimentum ante eros eget lectus. Mauris ac ultricies turpis. Nulla facilisi. Aliquam sed magna viverra, ornare augue sit amet, semper metus. Vestibulum rutrum massa a urna scelerisque, quis porta risus tristique. Pellentesque vitae semper elit. Maecenas pellentesque felis id mi luctus consectetur. Fusce placerat posuere mi in varius. In vel lorem risus. Etiam ut finibus odio.
</p>
<p>
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum vehicula nunc id dui molestie, eget dictum nunc ultrices. Mauris vitae eros vitae felis dignissim rhoncus. Curabitur blandit, risus ut lobortis luctus, nibh nunc pharetra nisi, eu consectetur metus metus eu sem. Fusce vitae vehicula felis. Integer consequat arcu eget orci mollis, sed consequat mauris condimentum. Vestibulum massa odio, cursus id bibendum quis, lacinia id augue. Fusce vulputate metus nec nulla accumsan congue. In fringilla tellus diam, at pretium nulla vehicula quis. Proin et purus et nunc interdum egestas ut at diam. Pellentesque fermentum mauris nunc, quis accumsan neque cursus ut. Curabitur ut scelerisque elit. Phasellus eget orci vitae justo pretium suscipit in eu mauris. Donec mattis lectus at enim sagittis, in rutrum eros convallis. Nam a velit elementum, vulputate felis et, bibendum orci.
</p>
<p>
Sed eget maximus nibh. Pellentesque ultricies tortor varius nisl fringilla molestie. Cras rutrum dolor non est cursus, non viverra ligula pulvinar. Nullam sed nulla id erat accumsan ultrices. Curabitur magna diam, sollicitudin sed odio ac, placerat consectetur tortor. Ut maximus, lacus at tincidunt scelerisque, magna libero pulvinar purus, nec venenatis lacus risus in magna. Nam egestas malesuada diam sit amet laoreet. Nulla suscipit pretium ultrices. Nullam erat ex, laoreet in nisl non, molestie rhoncus dui.
</p>
<p>
Praesent lobortis, risus sit amet maximus congue, lorem est ornare leo, sed placerat elit neque a turpis. Ut et viverra ex. Cras id urna ex. Ut diam augue, faucibus at mollis imperdiet, placerat eget nibh. Suspendisse consequat felis ut lobortis egestas. Morbi mollis lorem eu ex faucibus, non porttitor felis eleifend. Quisque dapibus consectetur consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum nisi quis volutpat euismod. In eros massa, consectetur in elit lacinia, commodo euismod eros. Vestibulum ut dictum nibh. Aliquam sapien velit, ornare sit amet fermentum in, auctor cursus est.
</p>
<p>
Curabitur et laoreet libero, vel euismod sapien. Donec sollicitudin porttitor condimentum. Nullam at condimentum massa. Vivamus a pulvinar est. Fusce a diam at est gravida maximus. Cras quis sapien ut erat porta semper. Proin nec porttitor est. Mauris viverra orci ornare, lobortis urna iaculis, faucibus nunc. Vivamus suscipit vel ante nec semper.
</p>
<hr/>
<button (click)="newOrder()"  [disabled]="isCreateOrderProcessing()">
  New Order
</button>
<button (click)="getOrderNumber()">
  Get Order Number
</button>
