<h2>Register User</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div>
    <label>Email:</label>
    <input type="email" formControlName="email" />
<!--    <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">-->
    <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
      Invalid email
    </div>
  </div>

  <div>
    <label>Username:</label>
    <input type="text" formControlName="username" />
<!--    <div *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched">-->
    <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
      Username must be at least 3 characters
    </div>
  </div>

  <button type="submit" [disabled]="registerForm.invalid || loading">
    Register
  </button>

</form>

<div *ngIf="successMessage" style="color: green;">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage" style="color: red;">
  {{ errorMessage }}
</div>
