<h2>Products</h2>

<!--<ul>-->
<!--  @for (product of products(); track product.id) {-->
<!--    <li>-->
<!--      {{ product.name }} – {{ product.price }} Ft-->
<!--    </li>-->
<!--  }-->
<!--</ul>-->

@for (p of products(); track p.id) {
  <app-product-item [product]="p" />
}

@if (false) {
  @for (p of products(); track p.id) {
    <div class="product-list-item">
      <h3>
        <!--a href="/products/{{p.id}}">{{ p.name }} <small>({{ p.categoryName }})</small></a-->
        <!--a routerLink="/products/{{p.id}}">{{ p.name }} <small>({{ p.categoryName }})</small></a-->
        <!--a [routerLink]="['/products/' + p.id]">{{ p.name }} <small>({{ p.categoryName }})</small></a-->
        <a [routerLink]="['/products/', p.id]">{{ p.name }} <small>({{ p.categoryName }})</small></a>
      </h3>
      <p>{{ p.description }}</p>
      <strong>{{ p.formattedPrice }}</strong>
    </div>
  }
}

<hr/>
<button (click)="getOrderNumber()">
  Get Order Number
</button>
