:host {
  display: block;
}

.header {
  padding: 0.5rem;
  /* background-color: #111827; */
  background-color: rgb(0, 127, 127);
  color: gold;
}

h1 {
  text-align: center;
  line-height: 1rem;
}

.menu {
}
.menu>button {
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.content {
  padding: 0.5rem;
}
